BREVO_API_KEY=BREVO_API_KEY_HERE
BREVO_TAG_PREFIX=wouter-photo
NEXT_PUBLIC_PAYHIP_STAGE_FIX_URL=https://payhip.com/b/YOUR_PRODUCT_ID

PADDLE_WEBHOOK_SECRET=PADDLE_WEBHOOK_SECRET_HERE
PRESETS_DOWNLOAD_SIGNING_SECRET=GENERATE_A_RANDOM_SECRET
ADMIN_DEBUG_KEY=GENERATE_A_RANDOM_SECRET
ADMIN_PASSWORD=YOUR_SECURE_ADMIN_PASSWORD
SESSION_SECRET=GENERATE_A_RANDOM_SECRET

ADMIN_EMAIL=info@woutervellekoop.nl
CONTACT_FORM_TO=hello@wouter.photo
EMAIL_FROM_PRESETS=Wouter Photo <hello@wouter.photo>
EMAIL_FROM_CONTACT=Contact Form <no-reply@wouter.photo>
EMAIL_FROM_DOWNLOAD_NOTIFICATIONS=Download Notificaties <downloads@wouter.photo>

R2_ACCOUNT_ID=YOUR_R2_ACCOUNT_ID
R2_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_R2_SECRET_ACCESS_KEY
R2_BUCKET_NAME=YOUR_R2_BUCKET_NAME

