@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white dark:bg-black;
  }
  
  body {
    @apply text-black dark:text-white bg-white dark:bg-black;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.gallery-image-wrapper {
  position: relative;
  height: calc(100vh - 40px); /* 20px boven + onder */
  width: auto;
  margin: 20px;
  flex-shrink: 0;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image-wrapper img {
  height: 100%;
  object-fit: contain;
}
